<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="PetStoreAPI Suite" verbose="1">

    <test name="PetTest">
        <classes>
            <!-- Sequence of Pet tests -->
            <class name="petstoreAPI_testcases.PetTest.CreatePetTest"/>
            <class name="petstoreAPI_testcases.PetTest.FindPetByStatusTest"/>
            <class name="petstoreAPI_testcases.PetTest.GetPetByIDTest"/>
            <class name="petstoreAPI_testcases.PetTest.UpdatePetTest"/>
            <class name="petstoreAPI_testcases.PetTest.UploadImageTest"/>
            <class name="petstoreAPI_testcases.PetTest.DeletePetTest"/>
        </classes>
    </test>

    <!--<test name="StoreTest">
        <classes>
            <class name="petstoreAPI_testcases.StoreTest.CreateOrderTest"/>
            <class name="petstoreAPI_testcases.StoreTest.GetOrderByIdTest"/>
            <class name="petstoreAPI_testcases.StoreTest.GetInventoryTest"/>
            <class name="petstoreAPI_testcases.StoreTest.DeleteOrderTest"/>
        </classes>
    </test>

    <test name="ReqresTest">
        <classes>
            <class name="reqresAPI_testcases.BearerTokenAuthTest"/>
            <class name="reqresAPI_testcases.CreateUserTest"/>
            <class name="reqresAPI_testcases.GetUserTest"/>
            <class name="reqresAPI_testcases.UpdateUserTest"/>
            <class name="reqresAPI_testcases.DeleteUserTest"/>
        </classes>
    </test> -->

</suite> <!-- Suite -->
